@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

img {
  width: 100%;
  display: block;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
  padding: 3px;
}

.search-bar {
  margin-bottom: 0;
}

.dropdown-width {
  width: 90px;
}

.fixed-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 60px;
}

/* utility */
.flex-display {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.mouse-pointer {
  cursor: pointer;
}

.top-layer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.modal-btn {
  margin-bottom: 1rem;
  flex-grow: 1;
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(198, 100%, 37%, 0.2); */
    background-color: #add1fa;
  }
}

@media (min-width: 600px) {
  #app {
    padding: 2rem;
  }

  .modal-btn {
    margin-bottom: 0;
    flex-grow: 0;
  }

  .top-layer {
    flex-wrap: nowrap;
  }

  .dropdown-width {
    width: 150px;
  }

  .search-bar {
    margin-bottom: 1rem;
  }
}